{% include 'base.html' %}

{% block content %}

<div class="container">
    <h1>CONTACT SECTION </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque commodi rem maxime incidunt dolorem quae
        asperiores, odit at mollitia aut impedit soluta blanditiis, temporibus possimus velit? Veritatis, iusto in.</p>
        <hr>
        <hr>
        <h1>{{ email }}</h1>
        <h1>{{ phoneNo }}</h1>
        <h1>{{ year }}</h1>
        <h1>{{ location }}</h1>
</div>
{% endblock %}